<script type="text/javascript" src="../app.js"></script>
<div class="container donar">
  <div class="jumbotron">
    <h2 class="centro">Tu ayuda cuenta para nosotros, puedes donar en apoyo a este proyecto.</h2>
    <div class="centrar">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="9C4DFQNA49XJU" />
        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </div>
</div>
</body>
<footer class="iluminar">
  <div class="container">
    <div class="row align-items-center centrar">
      <div class="col-md-4">
        <h3>Contactanos</h3>
        <ul>
          <li><strong>Número de telefono: </strong>4492678272</li>
          <li><strong>Correo electronico: </strong>instanjob.soporte@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Siguenos en nuestras redes sociales</h3>
        <ul class="centro">
          <li class="social-net"><a href="https://www.facebook.com/InstanJob/"><i class="fab fa-facebook-square big-icons"></i></a></li>
          <li class="social-net"><a href="https://www.instagram.com/instantjob2018/?hl=es-la"><i class="fab fa-instagram big-icons"></i></a></li>
          <li class="social-net"><a href="https://twitter.com/InstantJob1?s=07&fbclid=IwAR1FIIztp-7uYBDphebTXH1WmZP1V-BBrIWh9BUZSxgPpvJ6kY1kOwtn0n8"><i class="fab fa-twitter big-icons"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Amet Soft</h3>
        <p>Todos los derechos reservados <i class="fa fa-copyright" aria-hidden="true"></i> Instant Job 2018.</p>
      </div>
    </div>
  </div>
</footer>
</html>
