<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Bienvenido</h1>
            <p>Empresas participantes en Instant Job ¡Unete!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/e/nuevo">Agregar una nueva empresa</a>
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>¡Conocelas!</h3>
        </div>
    </div>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% empresas.forEach(function(empresa){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= empresa.logo %>">
                    <div class="caption">
                        <h4><%= empresa.nombre %></h4>
                    </div>
                    <p>
                        <a href="/e/<%= empresa._id %>" class="btn btn-primary">Más información</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ./partials/footer %>
