<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Postulados al cargo de Desarrollador web</h1>

        </div>
    </header>



    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Abdiel Ortega</h4>
                    </div>
                    <p>
                        <a href="" class="btn btn-primary">Más información</a>
                    </p>
                </div>
            </div>
    </div>
</div>
<% include ./partials/footer %>
