<% include partials/header %>
  <div class="terminos container border">
    <h1 class="centro">Términos y Condiciones de Uso</h1>
    <br>
    <hr>
    <br>
    <h2 class="centro">INFORMACIÓN RELEVANTE</h2>
    <br>
    <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios, así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todos los productos que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. www.instantjob.com no asume la responsabilidad en caso de que entregue dicha clave a terceros.
Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>
    <br>
    <h2 class="centro">LICENCIA</h2>
    <br>
    <p>AmetSoft a través de su sitio web concede una licencia para que los usuarios utilicen los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.</p>
    <br>
    <h2 class="centro">USO NO AUTORIZADO</h2>
    <br>
    <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
    <br>
    <h2 class="centro">PROPIEDAD</h2>
    <br>
    <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>
    <br>
    <h2 class="centro">POLÍTICA DE REEMBOLSO Y GARANTÍA</h2>
    <br>
    <p>En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso, pero este será especificado al comprar el producto. En tales casos la garantía solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye:</p>
    <ul>
      <li>De acuerdo a las especificaciones técnicas indicadas para cada producto.</li>
      <li>En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.</li>
      <li>En uso específico para la función con que fue diseñado de fábrica.</li>
      <li>En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.</li>
    </ul>
    <br>
    <h2 class="centro">COMPROBACIÓN ANTIFRAUDE</h2>
    <br>
    <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
    <br>
    <h2 class="centro">PRIVACIDAD</h2>
    <br>
    <p>Este sitio web www.instantjob.com garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.
AmetSoft reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
  </div>
  <div class="terminos container border">
    <h1 class="centro">Aviso de Privacidad simplificado de AmetSoft</h1>
    <br>
    <hr>
    <br>
    <p>AmetSoft, es el responsable del tratamiento de los datos personales que nos proporcione. Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades: </p>
    <ul>
      <li>Creación de cuentas de usuario</li>
      <li>Creación de perfil personal</li>
    </ul>
    <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son necesarias, pero que nos permiten y facilitan brindarle una mejor atención
Utilizar su información personal para la creación de perfiles donde se pueda solicitar un empleo</p>
    <p>En caso de que no desee que sus datos personales sean tratados para las finalidades adicionales, usted puede manifestarlo mediante nuestro correo electrónico instantjob@outlook .com o en nuestras redes sociales que nos encontramos como AmetSoft o mediante un foro que se encuentra dentro de la página.
Le informamos que sus datos personales son compartidos con las personas, empresas, organizaciones y autoridades distintas al sujeto obligado, para los fines que se describen a continuación:</p>
    <table class="table table">
      <thead>
        <tr>
          <th scope="col"><strong>Destinatario de los datos personales</strong></th>
          <th scope="col"><strong>País (opcional)</strong></th>
          <th scope="col"><strong>Finalidad</strong></th>
        </tr>
        <tr>
          <td>Ley federal de Protección de Datos Personales</td>
          <td></td>
          <td>Descripción de la finalidad</td>
        </tr>
        <tr>
          <td>IFAI</td>
          <td></td>
          <td>El organismo dice estar listo para atender denuncias para acceder, rectificar, cancelar u oponerse al uso de datos por particulares</td>
        </tr>
      </thead>
      <tbody id="eventos">
      </tbody>
    </table>
    <br>
    <p>Si usted no manifiesta su negativa para dichas transferencias, se entenderá que ha otorgado su consentimiento. Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad integral a través de la dirección electrónica: www.instantjob.com.</p>
    <p><strong>NOTA: El texto puede sufrir modificaciones según se actualicen los requisitos, o de acuerdo al medio o mecanismo por el que se dé a conocer. El diseño, tipografía, o inclusión de colores o imágenes es responsabilidad de cada sujeto obligado siempre que no contravenga lo dispuesto por la Ley.</strong></p>
  </div>
<% include partials/footer %>
